/* 상단에 꼭 위치 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AnonymousPro';
  src: url('./assets/fonts/AnonymousPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AnonymousPro';
  src: url('./assets/fonts/AnonymousPro-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'AnonymousPro';
  src: url('./assets/fonts/AnonymousPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AnonymousPro';
  src: url('./assets/fonts/AnonymousPro-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* body 전체에 적용 */
html, body, #root {
  font-family: 'AnonymousPro', monospace;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
